body {
    font-family: "Traditional Arabic";
    direction: rtl;
    padding: 20px;
    background-color: #fafad4;
    word-wrap: normal;
    margin: auto;
}

@font-face {
    font-family: "Traditional Arabic";
    src: url("trado.ttf") format("opentype");
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

.translate {
    font-family: "Arial";
    font-size: 60%;
    color: #340433;  
}

table {
    font-family: "Traditional Arabic";
    direction: rtl;
    font-size: 130%;
}

td {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #F6F6B1;
    border:1px solid #696;
    border-radius:20px;
}

p {
    font-size: 170%;
}

.detail {
    padding-right: 10px;
}

.rootOccurance {
    font-family: "Arial";
    color: cornflowerblue;
    font-size: 60%
}

#copyright {
    float:left;
}



/* jQuery UI Autocomplete ===================================================== */
.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}
/* ============================================================================ */








