/* ======================================== Fonts ======================================== */
@font-face {
	font-family : nunito;
	src: url("../fonts/nunito.ttf");
}
/* ======================================== general ======================================== */
body {
	background-color: rgb(0,25,60);
	font-family: nunito;
}
h1 {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 30px;
}
h3 {
	font-size: 1.2rem;
}
.main-container {
	background-color: rgb(245,245,180);
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	min-height: 500px;
	width: 800px;
}
a {
	text-decoration: none;
}
.multiple-roots, .multiple-words {
	margin-left: 90px;
}
.app-title {
	margin-top: 50px;
}
img {
	margin-right: 20px;
	vertical-align: bottom;
}
